@import './navbar-actions'
@import './search-bar'
@import './user'
@import './revenue'

.navbar
    position: fixed
    width: 100%
    top: 0
    left: 0
    display: flex
    justify-content: flex-start
    align-items: center
    height: 50px
    background-color: $dark
    padding: 5px 15px
    padding-top: 0
    box-sizing: border-box
    position: relative
    .endbar
        margin-left: auto
        display: flex
        justify-content: space-between
        align-items: center