.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: $dark;
    padding: 5px 20px;
    .navbar-logo {
        img {
            height: 50px;
            background-color: #fff;
        }
    }
}