$themes: (
    light: (
        primary: $primary,
        active: $primaryAccent,
        background: $light,
        highlight: $dark
    ),
    dark: (
        primary: $primary,
        active: $primaryAccent,
        background: $dark,
        highlight: $light
    )
);
